Flask==2.1.2
requests==2.27.1
gunicorn==20.1.0
Werkzeug==2.1.2
psycopg2-binary==2.9.3
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.46
pandas==1.5.3
numpy==1.23.5  # גרסה תואמת ל-Python 3.11
python-dateutil>=2.8.1
pytz>=2020.1
fuzzywuzzy==0.18.0
python-Levenshtein==0.12.2
